<%= form_with(model: message, data: { turbo_frame: "messages", action: "turbo:submit-end->reset-form#clear" }, id: "new_message_form") do |form| %>
  <%= hidden_field_tag :chat_id, @chat.id %>

  <div>
    <%= form.text_field :content, id: "message_content" %>
    <%= form.submit %>
  </div>
<% end %>
