<div id="<%= dom_id message %>">
  <% if message.user_id == current_user.id %>
    <div class="own-message"><%= message.content %></div>
  <% else %>
    <div class="other-person-message"><%= message.content %></div>
  <% end %>
</div>
