<div style="outline: 2px solid #9558e3; margin: 15px 2px;  background-color: #ccb5ef">
  <p>
    <strong>Name:</strong>
    <%= chat.users.pluck(:nickname).without(current_user.nickname).first || chat.name %>
  </p>

  <%= link_to "Show this chat", chat %>
</div>
