<%= turbo_stream_from @chat %>

<div class="chat-container">
  <%= render @chat %>

  <div class="chat-messages">
    <%= render @chat.messages %>
  </div>

  <%= render "messages/form", message: @message, chat: @chat %>
</div>
