<div class="chat-container">
  <%= turbo_stream_from @chat %>

  <div class="chat-header">
    <%= @chat.name %>
  </div>

  <div id="messages" class="chat-messages">
    <%= render @chat.messages.order(:created_at) %>
  </div>

  <div id="new_message">
    <%= render "messages/form", message: @message, chat: @chat %>
  </div>
</div>
